<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Project</title>
    <link rel="stylesheet" href="xterm/css/xterm.css" />
</head>
<body>
    <%- body%>
</body>
<script src="xterm/lib/xterm.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        //Creating and opening a terminal
        var term = new Terminal({
            cursorBlink: true,
            cursorStyle: 'block',
        });
        term.open(document.getElementById('terminal'));
        term.write('\x1B[1;3;31mroot@localhost\x1B[0m $  ');

        var data = "";
        var cmndHistory = new Array();
        term.onKey(key => {
            var char = key;
            var event = key.domEvent;
            if(event.code == "Enter") {
                cmndHistory.push(data);
                $.ajax({
                    url: "/data",
                    method: "post",
                    data: {command: data},
                    success: function(data) {
                        console.log(data);
                    }
                });
                data = "";
                term.write('\r\n\x1B[1;3;31mroot@localhost\x1B[0m $  ');
            }
            else if(event.code == "Backspace") {
                data = data.slice(0, data.length-1);
                term.write('\b \b');
            }
            else {
                data = data + char.key;
                term.write(char.key);
            }
        });

        function showHistory() {
            console.log(cmndHistory);
        }
    });
</script>
</html>